html, body {
    height: auto;
    margin: 0;
    padding: 0;
}

body {
    display: block;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

header {
    background-color: #222;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo img {
    height: 70px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.banners-row {
    display: flex;
    gap: 10px;
}

.banner {
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner img {
    max-width: 100%;
    height: auto;
    display: block;
}
main {
    flex: 1;
}

footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 5px 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.content {
    padding-left: 20px;
    padding-right: 20px;
}
body.accueil {
    background-image: url('../images/bg1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
body.accueil {
    text-align: center;
}

.contact-bg {
    width: 50vw;
    height: 100vh;
    background-image: url('../images/bg2.jpg'); /* замените на ваш файл */
    background-size: cover;
    background-position: center;
}

.contact-content {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
body.contact {
    display: flex;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body.contact .contact-bg {
    width: 50vw;
    height: 100vh;
    background-image: url('../images/bg2.jpg');
    background-size: cover;
    background-position: center;
}

body.contact .contact-content {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
